<h1> Welcome to Your Groups, <%= current_user.username.capitalize %> !</h1>





<% if !@groups.empty? %>

<% @groups.each do |t| %>
  <p><%= t.name %> <%= t.user_id%> <%= t.id%></p>
  <% end %>

<p> Your groups </p>

<% else %>

POO

<% end %>


<h1> Your Groups </h1>

<% @groups.each do |t| %>
  <% if t.user_id == current_user.id %>
    <p><%= t.name %> <%= t.user_id%> <%= t.id%></p>
  <% end %>
<% end %>


