

<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>

<h1> <%= @group.name %></h1>
<br>
<% @contribution.each do |t| %>
    <% if t.group_id == @group.id %>
    <p><h1><%= t.title %> </h1> </p>
    <p> By user <%= t.user_id%> </p>
    <p> <%= t.id%> </p>
    <p> Content <%= t.content %> </p>
    
   <% end %>
<% end %>