<h1 style="color: white; margin: 35px 10px;">Your Conributions</h1>

<% @contributions.each do |t| %>
    <% @groups.each do |y| %>
        <% if y.id == t.group_id%>
            <h1> <%= y.name %> </h1>
            <p><%= t.title %> </p> <%= t.content %> <%= t.user_id%> <%= t.id%>
        <a href="/contributions/<%= t.id %>/edit">
            <span class="glyphicon glyphicon-edit"></span></a> 
        <a href="/contributions/<%= t.id %>/edit" >
            <span class="glyphicon glyphicon-remove"></span></a></p>
        <% end %>
    <% end %>
        
<% end %>